<footer class="etm-footer">

  <a href="{{header.menu.0.path}}" class="menu-item {{#if header.menu.0.selected}}selected{{/if}}">
    <div class="icon"
      style="background-image: url(/images/m-icon-index{{#if header.menu.0.selected}}-selected{{/if}}.svg)"></div>
    <div>{{header.menu.0.text}}</div>
  </a>

  <a href="{{header.menu.2.path}}" class="menu-item {{#if header.menu.2.selected}}selected{{/if}}">
    <div class="icon"
      style="background-image: url(/images/m-icon-product{{#if header.menu.2.selected}}-selected{{/if}}.svg)"></div>
    <div>{{header.menu.2.text}}</div>
  </a>

  <a href="{{header.menu.3.path}}" class="menu-item {{#if header.menu.3.selected}}selected{{/if}}">
    <div class="icon"
      style="background-image: url(/images/m-icon-look{{#if header.menu.3.selected}}-selected{{/if}}.svg)"></div>
    <div>{{header.menu.3.text}}</div>
  </a>

  <a href="{{header.menu.4.path}}" class="menu-item {{#if header.menu.4.selected}}selected{{/if}}">
    <div class="icon"
      style="background-image: url(/images/m-icon-news{{#if header.menu.4.selected}}-selected{{/if}}.svg)"></div>
    <div>{{header.menu.4.text}}</div>
  </a>

  <a href="{{header.menu.6.path}}" class="menu-item {{#if header.menu.6.selected}}selected{{/if}}">
    <div class="icon"
      style="background-image: url(/images/m-icon-contact{{#if header.menu.6.selected}}-selected{{/if}}.svg)"></div>
    <div>{{header.menu.6.text}}</div>
  </a>

</footer>