<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> base}}
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/article.css" />
</head>

<body>
  {{> header}}

  <main class="page-article">
    <h1 class="with-color-tag">{{pageTitle}}</h1>

    <div class="article-list">
      {{#each news}}
      <a class="article-item" href="/article/detail/{{id}}">
        <div class="article-cover" style="background-image: url({{cover.rawUrl}})"></div>
        <div class="article-title">
          <span>
            {{title}}
          </span>
          {{#if isHot}}
          <i class="icon-hot"></i>
          {{/if}}
        </div>
        <div class="article-info">{{content}}...</div>
        <div class="article-sub">
          <div>
            {{#if isTop}}
            <i class="icon-top">{{../_top}}</i>{{/if}}
            <span class="article-time">{{_createdAt}}</span>
          </div>
          <div><i class="icon-eye"></i>{{viewCount}}</div>
        </div>
      </a>
      {{/each}}
    </div>

    <a class="more" href="/article/news">{{_more}}</a>

  </main>

  {{> footer}}
</body>

</html>