<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> base}}
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/article.css" />
</head>

<body>
  {{> header}}

  <main class="page-article">
    <h1 class="with-color-tag">{{pageTitle}}</h1>

    <div class="article-list">
      {{#each news}}
      <div class="article-item">
        <div class="article-cover" style="background-image: url({{cover.rawUrl}})"></div>
        <div class="article-title">
          <span>
            {{title}}
          </span>
          {{#if isHot}}
          <i class="icon-hot"></i>
          {{/if}}
        </div>
        <div class="article-info">{{content}}...</div>
        <div class="article-sub">
          <div>
            {{#if isTop}}
            <i class="icon-top">{{../_top}}</i>{{/if}}
            <span class="article-time">{{_createdAt}}</span>
          </div>
          <div><i class="icon-eye"></i>{{viewCount}}</div>
        </div>
      </div>
      {{/each}}

      <div class="article-share-top">
        <div class="shares-title">{{_share}}</div>
        <div class="shares-list">
          {{#each sharesTop}}
          <div class="share-item" style="background-image: url({{cover.rawUrl}})">
            <div class="share-title">{{title}}</div>
            <div class="share-content">{{content}}</div>
          </div>
          {{/each}}
        </div>
      </div>

      {{#each sharesLeft}}
      <div class="article-item">
        <div class="article-cover" style="background-image: url({{cover.rawUrl}})"></div>
        <div class="article-title">
          <span>
            {{title}}
          </span>
          {{#if isHot}}
          <i class="icon-hot"></i>
          {{/if}}
        </div>
        <div class="article-info">{{content}}...</div>
        <div class="article-sub">
          <div>
            {{#if isTop}}
            <i class="icon-top">{{../_top}}</i>{{/if}}
            <span class="article-time">{{_createdAt}}</span>
          </div>
          <div><i class="icon-eye"></i>{{viewCount}}</div>
        </div>
      </div>
      {{/each}}
    </div>

    <a class="more">{{_more}}</a>

  </main>

  {{> footer}}

  <script>
    console.log({{{ _data }}})
  </script>
</body>

</html>