<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> base}}
  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />

</head>

<body>
  {{> header}}

  <div class="banner">
    {{#each banners}}
    <div class="banner-item">
      <img class="banner-img" src="{{resource.rawUrl}}" alt="">
      <div class="banner-text">
        <div class="title">{{title}}</div>
        <div class="subTitle">{{subTitle}}</div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="intro">
    <img src="{{intro.imageUrl}}" alt="" class="intro-photo">
    <div class="intro-text">
      <div class="intro-title">{{intro.title}}</div>
      <div class="intro-sub-title">{{intro.subTitle}}</div>
      <div class="intro-content">
        {{{intro.text}}}
        <a class="intro-content-more" href="/about">
          {{intro._more}}
        </a>
      </div>
      <div class="intro-link">
        <a class="intro-link-item" href="/about">
          <div class="intro-link-title">{{intro._link_1}}</div>
          <div class="intro-link-sub-title">{{intro._link_1_sub}}</div>
        </a>
        <a class="intro-link-item" href="/about/qualification">
          <div class="intro-link-title">{{intro._link_2}}</div>
          <div class="intro-link-sub-title">{{intro._link_2_sub}}</div>
        </a>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="title">{{products.title}}</div>
    <div class="sub-title">{{products.subTitle}}</div>
    <div class="products-showcase">
      {{#each products.items}}
      <div class="product-item">
        <div class="product-img" style="background-image: url({{cover.rawUrl}})"></div>
        <div class="product-title">{{title}}</div>
      </div>
      {{/each}}
    </div>
    <a class="products-more" href="/product">
      {{products._more}}
    </a>
  </div>

  <div class="looks">
    <div class="title">{{looks.title}}</div>
    <div class="looks-content">
      <div class="looks-showcase">
        {{#each looks.items}}
        <div class="look-item" data-url="{{resource.rawUrl}}">
          <div class="look-img" style="background-image: url({{resource.rawUrl}})"></div>
          <div class="look-title">{{title}}</div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="pnews">
    <div class="title">{{news.title}}</div>
    <div class="news-content">
      {{#each news.items}}
      <a href="/article/detail/{{id}}" class="news-item" style="background-image: url({{cover.rawUrl}})">
        <div class="news-title">{{title}}</div>
        <div class="news-text">{{content}}</div>
      </a>
      {{/each}}
    </div>
    <a class="news-more" href="/article">
      {{news._more}}
    </a>
  </div>

  {{> footer}}

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    $('.banner').slick({
      dots: true,
      infinite: true,
      speed: 500,
      autoplay: true,
      autoplaySpeed: 3000,
      fade: true,
      cssEase: 'linear',
      arrows: false
    });
    $('.products-showcase').slick({
      dots: false,
      infinite: false,
      slidesToShow: 4,
      slidesToScroll: 4,
      cssEase: 'linear',
      arrows: true
    });
    $('.looks-showcase').slick({
      dots: false,
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 1,
      centerMode: true,
      centerPadding: '20px',
      autoplay: true,
      autoplaySpeed: 3000,
      cssEase: 'linear',
      arrows: true
    });

    setInterval(function () {
      var item = $(".looks-showcase .slick-current")[0]
      if (!item || !item.dataset || !item.dataset.url) {
        return
      }

      var url = item.dataset.url

      if (window.__look_current_url === url) {
        return
      }

      window.__look_current = url
      // 触发更新
      $(".looks-content")[0].style.backgroundImage = `url(${url})`

    }, 100)
  </script>
</body>

</html>