<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> base}}
  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />

</head>

<body>
  {{> header}}

  <div class="banner">
    {{#each banners}}
    <div class="banner-item">
      <img class="banner-img" src="{{resource.rawUrl}}" alt="">
      <div class="banner-text">
        <div class="title">{{title}}</div>
        <div class="subTitle">{{subTitle}}</div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="intro">
    <img src="{{intro.imageUrl}}" alt="" class="intro-photo">
    <div class="intro-text">
      <div class="intro-title">{{intro.title}}</div>
      <div class="intro-sub-title">{{intro.subTitle}}</div>
      <div class="intro-content">
        {{{intro.text}}}
        <a class="intro-content-more">
          {{intro._more}}
        </a>
      </div>
      <div class="intro-link">
        <a class="intro-link-item">
          <div class="intro-link-title">{{intro._link_1}}</div>
          <div class="intro-link-sub-title">{{intro._link_1_sub}}</div>
        </a>
        <a class="intro-link-item">
          <div class="intro-link-title">{{intro._link_2}}</div>
          <div class="intro-link-sub-title">{{intro._link_2_sub}}</div>
        </a>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="title">{{products.title}}</div>
    <div class="sub-title">{{products.subTitle}}</div>
    <div class="products-showcase">
      {{#each products.items}}
      <div class="product-item">
        <div class="product-img" style="background-image: url({{cover.rawUrl}})"></div>
        <div class="product-title">{{title}}</div>
      </div>
      {{/each}}
    </div>
    <a class="products-more">
      {{products._more}}
    </a>
  </div>


  {{> footer}}

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script>
    $('.banner').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      arrows: false
    });
    $('.products-showcase').slick({
      dots: false,
      infinite: false,
      slidesToShow: 4,
      slidesToScroll: 4,
      cssEase: 'linear',
    });
  </script>
</body>

</html>