<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> base}}
  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="/css/product.css" />

</head>

<body>
  {{> header}}

  <main class="page-product">
    <div class="inner-wrapper">
      <nav class="product-menu">
        <div class="title">{{menu_title}}</div>
        {{#each items}}
        <a href="/product/{{id}}" class="{{#if selected}}selected{{/if}}">{{title}}</a>
        {{/each}}
      </nav>
      <div class="product-detail">
        <aside class="product-img" style="background-image: url({{selected.cover.rawUrl}})"></aside>
        <article class="product-info">
          <p class="detail-title">{{detail_title}}</p>
          <h1 class="with-color-tag">{{selected.title}}
            <a href="/contact" class="contact"></a>
          </h1>
          {{{selected.content}}}
          <a class="contact-us" href="/contact">{{_contact_us}}</a>
        </article>
      </div>
    </div>
  </main>

  {{> footer}}

</body>

</html>