<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> mobile_base}}
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/mobile/index.css" />
</head>

<body>
  {{> mobile_header}}

  <div class="banner">
    <div class="mask">
      <img src="{{logo.resource.rawUrl}}" alt="" class="src">
      <div class="name">{{variables.name.value}}</div>
      <div class="sub_name">{{variables.sub_name.value}}
      </div>
    </div>
  </div>

  <div class="intro">
    <div class="intro-title with-color-tag">{{intro.title}}</div>
    <div class="intro-content">
      {{intro.mobileText}}
    </div>
    <a class="intro-content-more" href="/about">
      {{intro._more}}
    </a>

    <div class="intro-link">
      <a class="intro-link-item" href="/about">
        <div class="icon icon-flag"></div>
        <div class="intro-link-title">{{intro._link_1}}</div>
      </a>
      <a class="intro-link-item" href="/about/qualification">
        <div class="icon icon-honor"></div>
        <div class="intro-link-title">{{intro._link_2}}</div>
      </a>
    </div>

    <div class="intro-swipe-down">
      <div class="icon-arrow"></div>
      <div class="icon-arrow"></div>
    </div>
  </div>


  <div class="products">
    <div class="title">{{products.title}}</div>
    <div class="sub-title with-color-tag">{{products.subTitle}}</div>
    <div class="products-showcase">
      {{#each products.items}}
      <div class="product-item">
        <div class="product-img" style="background-image: url({{cover.rawUrl}})"></div>
        <div class="product-info">
          <div class="product-title">
            {{title}}
          </div>
          <div class="product-content">
            {{subTitle}}
          </div>
        </div>
      </div>
      {{/each}}
      <a class="products-more" href="/product">
        {{products._more}}
      </a>
    </div>
  </div>

  <div class="looks">
    <div class="mask">

      <div class="title with-color-tag">{{looks.title}}</div>
      <div class="looks-showcase">
        {{#each looks.items}}
        <div class="look-item" data-url="{{resource.rawUrl}}">
          <div class="look-img" style="background-image: url({{resource.rawUrl}})"></div>
          <div class="look-title">{{title}}</div>
        </div>
        {{/each}}
        <a class="looks-more" href="/product">
          {{products._more}}
        </a>
      </div>
    </div>
  </div>

  <div class="pnews">
    <div class="title with-color-tag">{{news.title}}</div>
    {{#each news.items}}
    <a href="/article/detail/{{id}}" class="news-item">
      <div class="news-title">{{title}}</div>
      <div class="news-text">{{content}}</div>
      <div class="news-cover" style="background-image: url({{cover.rawUrl}})"></div>
    </a>
    {{/each}}
  </div>

  <div class="contacts">
    <div class="icon" style="background-image: url(/images/m-icon-mobile.svg)"></div>
    <div class="mobile">{{variables.tel.value}}</div>
    <div class="icon" style="background-image: url(/images/m-icon-email.svg)"></div>
    <div class="email">{{variables.email.value}}</div>
    <div class="icon" style="background-image: url(/images/m-icon-location.svg)"></div>
    <div class="location">{{variables.address.value}}</div>
    <a class="link" href="/contact">
      {{_contact_us}}
    </a>
  </div>

  {{> mobile_footer}}
  </script>
</body>

</html>